%section.panel.panel-info
  %header.panel-heading
    .row
      .form-group.col-lg-6
        = label_tag "height", "Height"
        = text_field_tag "feet", "", class: "form-control"
        = text_field_tag "inches", "", class: "form-control"
    .row
      .form-group.col-lg-6
        = label_tag "age", "Age"
        = text_field_tag "age", "", class: "form-control"
    .row
      .form-group.col-lg-6
        = label_tag "weight", "Weight"
        = text_field_tag "weight", "", class: "form-control"
