-# @TODO - save last partial visited in cookies
= javascript_include_tag 'new.js'
- if params['current_partial']
  - current_partial = params['current_partial']
- else
  - current_partial = 'name'
= form_tag(controller: :users, action: :create) do
  = render :partial => current_partial, :locals => {user: @user}
  - if current_partial ==  'favorite_color'
    .row
      .form-group.col-lg-6
        = submit_tag 'Submit', class: 'btn-btn-default'
  - if current_partial != 'name'
    .row
      .form-group.col-lg-6
        = button_to "Go Back", '#', :onclick => 'history.back(); return false;'
